# Maven
target/
log/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
workspace.xml
tasks.xml

# OSX
.DS_Store

# Eclipse
.classpath
.project
.settings/

run/